<div class="navbar navbar-default navbar-fixed-top">
  <a href="#!/" class="navbar-brand">Big Hugs</a>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="nav sidebar-nav">
        <li class="active"><a href="#!/dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="#!/services">Services</a></li>
        <li><a href="#!/service-order">Service Order</a></li>
      </ul>
  </div><!-- /#sidebar-wrapper -->

  <div id="main-container">
    <div class="container-fluid">
      <div class="row">
        <div id="dashboard" class="col-sm-12 col-md-12">
          <h3>Dashboard</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
              </tr>
            </thead>
          </table>
        </div><!-- /#dashboard -->
      </div>
    </div><!-- /.container-fluid -->
  </div><!-- /#main-container -->

</div>
