#login-form {
    padding-top:5%;
}
#services .btn-toolbar {
    margin:0 0 5px 0;
}
.text-center {
    text-align:center;
}
#wrapper {
  padding-top:50px;
}
#main-container {
  padding-bottom:50px;
}
.nav > li > a {
	padding:3px;
}